p {
    color: #133E87;
}
h1 {
    color: #133E87;
}
h2 {
    color: #133E87;
}
title {
    color: #133E87;
}
label {
    color: #133E87;
}
button {
    color: #133E87;
}
h3 {
    color: #133E87;
}




